@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

@layer components {
  .icon {
    @apply xl:inline-flex p-2 h-10 w-10 bg-gray-200 rounded-full cursor-pointer hover:bg-gray-300 text-black;
  }
  .InputIcons {
    @apply flex items-center space-x-3 hover:bg-gray-100  justify-center
    p-2 rounded-xl cursor-pointer w-[156px];
  }
  .postButtons {
    @apply flex items-center space-x-3 hover:bg-gray-100  justify-center
    p-2 cursor-pointer w-[156px];
  }

}

